{% extends "students/base.html" %}
{%	block meta_title %}Service for recording students{%	endblock	%}
{% load staticfiles %}
{% block title %}<h2>Groups</h2>{% endblock title %}

	<!--endsubheader-->
{% block content %}

			<a href="{% url "group_add" %}" class="btn btn-primary">Add group</a>
				<div>
				{%	if groups %}
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>№</th>
							<th>Title</th>
							<th>Steward</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					{% for group in groups %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td><a href="{% url "group_edit" group.id %}" title="Edit">{{ group.title }}</a></td>
							<td><a href="{% url "students_edit" group.leader.id %}" title="Edit">{{ group.leader.last_name}} {{group.leader.first_name}}</a></td>
							<td>
								<div class="dropdown">
									<button class="btn btn-default dropdown-tooggle" type="button" data-toggle="dropdown">Action
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
									<li role="presentation"><a href="{% url "group_edit" group.id %}" role="menuitem" tabindex="-1">Edit</a></li>
									<li role="presentation"><a href="{% url "group_delete" group.id %}" role="menuitem" tabindex="-1">Delete</a></li>
									</ul>
								</div>
							</td>
						</tr>
						{% endfor %}					
					</tbody>
				</table>
				{% else %}
				<p>Groups not found</p>
				{% endif %}
				</div>

	<!--End main page-->
{%if groups.has_other_pages %}
{% with object_list=groups %}
	{% include "students/pagination.html" %}
{% endwith %}
{% endif %}
{%	endblock content %}
