
<nav>
	<ul class="pagination">
	{% if students.has_previous %}
		<li><a href="{% url 'home'%}?page={{ students.previous_page_number }}">&laquo;</a></li>
	{% endif %}
		{% for p in students.paginator.page_range %}
			{% if p == students.number %}
				<li class="active"><a href="{% url 'home'%}?page={{ p }}">{{ p }}</a></li>
			{% else %}
				<li><a href="{% url 'home'%}?page={{ p }}">{{ p }}</a></li>
			{% endif %}
		{% endfor %}
		{% if students.has_next %}
		<li><a href="{% url 'home'%}?page={{ students.next_page_number }}">&raquo;</a></li>
		{% endif %}
	</ul>
</nav>