{% extends "students/base.html" %}

{% load static from staticfiles %}
{% block meta_title %}Відвідування студентів{% endblock meta_title %}
{% block title %}<h2>Облік відвідування</h2>{% endblock title %}

{% block content %}
<div class="month"><a href="#">&larr;</a>Match 13<a href="#">&rarr;</a></div>
				<div>
				<table class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th>№</th>
							<th>Student</th>
							<th>The 1</th>
							<th>The 2</th>
							<th>The 3</th>
							<th>The 4</th>
							<th>The 5</th>
							<th>The 6</th>
							<th>The 7</th>
							<th>The 8</th>
							<th>The 9</th>
							<th>The 10</th>
							<th>The 11</th>
							<th>The 12</th>
							<th>The 13</th>
							<th>The 14</th>
							<th>The 15</th>
							<th>The 16</th>
							<th>The 17</th>
							<th>The 18</th>
							<th>The 19</th>
							<th>The 20</th>
							<th>The 21</th>
							<th>The 22</th>
							<th>The 23</th>
							<th>The 24</th>
							<th>The 25</th>
							<th>The 26</th>
							<th>The 27</th>
							<th>The 28</th>
							<th>The 29</th>
							<th>The 30</th>
							<th>The 31</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Sergey Nelepa</td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
						</tr>
							<tr>
							<td>1</td>
							<td>Julia Nelepa</td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
				            <td><input type="checkbox"></td>
						</tr>
						<tbody>
				</table>
{% endblock content %}