{% extends "students/base.html" %}
{%	block meta_title %}Service for recording students{%	endblock	%}
{% load staticfiles %}
{% block title %}<h2>Base of students</h2>{% endblock title %}

	<!--endsubheader-->
			{% block content %}
			<a href="{% url 'students_add' %}" class="btn btn-primary">Add student</a>
				<div>
				{%	if students %}
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>№</th>
							<th>Photo</th>
							<th>
							<a href="{% url 'home' %}?order_by=last_name{% if request.GET.order_by = 'last_name' and request.GET.reverse != '1' %}&amp;reverse=1{% endif %}">Last name {% if request.GET.order_by = 'last_name' and request.GET.reverse != '1' %}&uarr;{% elif request.GET.order_by = 'last_name' and request.GET.reverse == '1' %}&darr; {% endif %}</a>
							</th>
							<th>
							<a href="{% url 'home' %}?order_by=first_name{% if request.GET.order_by = 'first_name' and request.GET.reverse != '1' %}&amp;reverse=1{% endif %}">First name {% if request.GET.order_by = 'first_name' and request.GET.reverse != '1' %}&uarr;{% elif request.GET.order_by = 'first_name' and request.GET.reverse == '1' %}&darr; {% endif %}</a>
							</th>
							<th><a href="{% url 'home' %}?order_by=ticket{% if request.GET.order_by = 'ticket' and request.GET.reverse != '1' %}&amp;reverse=1{% endif %}">Ticket {% if request.GET.order_by = 'ticket' and request.GET.reverse != '1' %}&uarr;{% elif request.GET.order_by = 'ticket' and request.GET.reverse == '1' %}&darr; {% endif %}</a></th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for student in students %}
						<tr>
							<td>{{ forloop.counter }}</td>
							<td>{% if student.photo %}
			<img class="img-circle" src="{{ student.photo.url }}" height="30"
width="30" />
	{% else %}
<img class="img-circle" src="{% static "img/default_user.png" %}"
height="30" width="30" />
{% endif %}</td>
							<td><a href="{% url "students_edit" student.id %}" title="Edit" class="student-edit-form-link">{{ student.last_name }}</a></td>
							<td><a href="{% url "students_edit" student.id %}" title="Edit" class="student-edit-form-link">{{ student.first_name }}</a></td>
							<td>{{	student.ticket }}</td>
							<td>
								<div class="dropdown">
									<button class="btn btn-default dropdown-tooggle" type="button" data-toggle="dropdown">Action
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
									<li role="presentation"><a href="{% url "journal" student.id %}" role="menuitem" tabindex="-1">Visiting</a></li>
									<li role="presentation"><a href="{% url "students_edit" student.id %}" role="menuitem" tabindex="-1" class="student-edit-form-link">Edit</a></li>
									<li role="presentation"><a href="{% url "students_delete" student.id %}" role="menuitem" tabindex="-1">Delete</a></li>
									</ul>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<p>Students not found</p>
				{% endif %}
				</div>
			
	<!--End main page-->

{% with object_list=students %}
	{% include "students/pagination.html" %}
{% endwith %}

{%	endblock	%}
{% block extra_js %}
	
{% endblock extra_js %}
