{% extends "students/base.html" %}
{%  block meta_title %}Edit student{% endblock  %}
{% load staticfiles %}
{% block title %}<h2>Edit student</h2>{% endblock title %}
{% block status_message %}
	{% if form.errors %}
					<div class="alert alert-warning" role="alert">Please correct the following errors</div>
	{% endif %}
{% endblock %}
{% block content %}
<form method="post" action="." enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}
  
      <input type="submit" class="btn btn-primary" value="Save" name="add_button"/>
      <input type="submit" class="btn btn-primary" value="Cancel" name="cancel_button" />
    
  
</form>
{%  endblock  %}