{% extends "students/base.html" %}
{% load i18n %}
{%  block meta_title %} {% trans "Deleting group" %}{% endblock  %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}<h2>{% trans "Deleting group" %}</h2>{% endblock title %}
{% block status_message %}
	
{% endblock %}
{% block content %}
<form action="{% url "group_delete"  object.id %}" method='post'>
{% csrf_token %}
	<p>{% trans "Are you really want to delete" %} {{ object }} ?</p>
	<input type="submit" value="Yes" class='btn bnt-denger' name='delete_button'>
</form>

    
  

{%  endblock  %}